.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: "Sour Gummy", sans-serif;
  background-color: #dfdfdf;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
    url(/images/Greece-photo-1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  margin: 0;
  line-height: 1.5;
}
h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 35px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  font-size: 14px;
  line-height: 1.5;
  color: blue;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 19px;
  }
  header a {
    font-size: 10px;
    padding: 8px 16px;
  }
}
